font-family: 'Jua', sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: #f0e8d9;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: #58595b;
  margin-top: 75px;
  margin-bottom: 35px;
  font-family: Jua;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #58595b;
  margin-bottom: 75px;
  font-family: Jua;
  font-weight: lighter;
}

.food {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden; /*사진 뒤에 있는 흰색 모서리를 숨겨주는 코드*/
  margin-bottom: 50px;
  font-weight: lighter;
}

/* radius 씌우는 첫 번째 방법
.food img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
*/

.food .info {
  padding: 20px;
  text-align: center;
  font-weight: lighter;
}

.food h3 {
  color: #58595b;
  font-size: 32px;
  font-family: Jua;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: lighter;
}

.food p {
  color: #58595b;
  font-size: 16px;
  font-family: Jua;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: left;
  font-weight: lighter;
}

.food a {
  text-align: center;
  font-size: 16px;
  color: #0000ee;
  font-family: Jua;
  text-decoration: none;
  font-weight: lighter;

}
